{% extends "shop/layout.html" %}
{% block body %}
       <main class="main">
        	<div class=" text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Account</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="true">Account Details</a>
								    </li>
									<li class="nav-item">
								        <a class="nav-link " id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="true">Orders</a>
									</li>
								    <li class="nav-item">
								        <a class="nav-link" href="{% url 'shop:signout' %}">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->
	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
								    	<p>No order has been made yet.</p>
								    	<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->
								    <div class="tab-pane fade show active" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="{% url 'shop:account' request.user.username %}" method = 'post'>
											{% csrf_token %}
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>First Name </label>
													{{form.first_name}}
			                						{% comment %} <input type="text" name = "firstName" value = "{{customer.first_name}}" class="form-control" value =  "" required> {% endcomment %}
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Last Name *</label>
													{{form.last_name}}
			                						{% comment %} <input type="text" name = "lastName"class="form-control" value = "{{customer.last_name}}" required> {% endcomment %}
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

											<div class = row>

												<div class = col-sm-6>
													<label>Username *</label>
													{{form.username}}
													{% if form.username.errors %}
														<div class="error" style = "color:red;">{{ form.username.errors }}</div>
													{% endif %}
													{% comment %} <input type="text" name = "userName" class="form-control"value = "{{customer.username}}" required> {% endcomment %}
												</div>

												<div class = col-sm-6>
													<label>Email address *</label>
													{{form.email}}
													{% if form.email.errors %}
														<div class="error" style = "color:red;">{{ form.email.errors }}</div>
													{% endif %}
													{% comment %} <input type="email" name = "email"class="form-control" value = "{{customer.email}}" required> {% endcomment %}
												</div>
											</div>

											<div class = row>

												<div class = col-sm-6>
													<label>Phone No </label>
													<input type="phone" name = "phone"{% if customer.phone %} value = "{{customer.phone}}" {% else %} placeholder = "Country" {%endif%} class="form-control" >
												</div>

												<div class = col-sm-6>	
													<label>Postal Code </label>
													<input type="text" name = "postal_code"class="form-control" {% if customer.postal_code %} value = "{{customer.country}}" {% else %} placeholder = "Postal code" {%endif%}> 
												</div>
											</div>


											<div class = row>
												<div class = col-sm-4>
													<label>Country </label>
													<input type="text" name = "country" class="form-control" {% if customer.country %} value = "{{customer.country}}" {% else %} placeholder = "Country" {%endif%}>
												</div>

												<div class = col-sm-4>
													<label>State </label>
													<input type="text" name = "state" class="form-control" {% if customer.state %} value = "{{customer.state}}" {% else %} placeholder = "State" {%endif%}>
												</div>


												<div class = col-sm-4>
													<label>Town/City </label>
													<input type="text" name = "town" class="form-control" {% if customer.town %} value = "{{customer.town}}" {% else %} placeholder = "Town" {%endif%}>
												</div>
											</div>


		            						<label>Current password (leave blank to leave unchanged)</label>
		            						<input type="password" name = "current_password" class="form-control">
											<div class="error" style = "color:red;">{{ passmessage }}</div>


		            						<label>New password (leave blank to leave unchanged)</label>
		            						<input type="password" name = "new_password" class="form-control">

		            						<label>Confirm new password</label>
		            						<input type="password" name = "confirm_password"class="form-control mb-2">
											<div class="error" style = "color:red;">{{ confmessage }}</div>


		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
											
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock body %}
        