{% extends "shop/layout.html"%}
{% block body%}
<!--style="background-image: url('assets/images/page-header-bg.jpg')"-->
<div class="page-header text-center" id="bg-c" >
    <div class="container">
        <h1 class="page-title">Contact us</h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<hr>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-box text-center">
                    <h3>Office</h3>

                    <address> Bole street, Adama, <br>Oromia, Ethiopia</address>
                </div><!-- End .contact-box -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-4">
                <div class="contact-box text-center">
                    <h3>Start a Conversation</h3>

                    <div><a href="mailto:amyonassintayehu@gmail.com">amyonassintayehu@gmail.com</a></div>
                    <div><a href="tel:#">+251909759355</a>, <a href="tel:#">+251982846075</a></div>
                </div><!-- End .contact-box -->
            </div><!-- End .col-md-4 -->

            <div class="col-md-4">
                <div class="contact-box text-center">
                    <h3>Social</h3>

                    <div class="social-icons social-icons-color justify-content-center">
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .contact-box -->
            </div><!-- End .col-md-4 -->
        </div><!-- End .row -->

        <hr class="mt-3 mb-5 mt-md-1">
        <div class="touch-container row justify-content-center">
            <div class="col-md-9 col-lg-7">
                <div class="text-center">
                <h2 class="title mb-1">Get In Touch</h2><!-- End .title mb-2 -->
                <p class="lead text-primary">
                    We value your feedback and are here to assist you. Please go ahead and type your question or comment below if you have any.
                </p><!-- End .lead text-primary -->
                </div><!-- End .text-center -->

                <form action="{% url 'shop:message' %}" class="contact-form mb-2" method = "POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="cfname" class="sr-only">First Name</label>
                            <input type="text" class="form-control" placeholder="First Name *"  name = "first_name" required>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-sm-6">
                            <label for="clname" class="sr-only">Last Name</label>
                            <input type="text" class="form-control" placeholder="Last Name *"  name = "last_name" required>
                        </div><!-- End .col-sm-4 -->
                    </div>

                    <div class = "row">

                        <div class="col-sm-6">
                            <label for="cemail" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="cemail" placeholder="Email *" name = "email" required>
                        </div><!-- End .col-sm-4 -->

                        <div class="col-sm-6">
                            <label for="cphone" class="sr-only">Phone</label>
                            <input type="tel" class="form-control" id="cphone" placeholder="Phone" name = "phone">
                        </div><!-- End .col-sm-4 -->
                    </div><!-- End .row -->

                    <label for="csubject" class="sr-only">Subject</label>
                    <input type="text" class="form-control" id="csubject" placeholder="Subject" name = "subject">

                    <label for="cmessage" class="sr-only">Message</label>
                    <textarea class="form-control" cols="30" rows="4" id="cmessage"  placeholder="Message *" name = message required></textarea>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                            <span>SUBMIT</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>
                    </div><!-- End .text-center -->
                </form><!-- End .contact-form -->
            </div><!-- End .col-md-9 col-lg-7 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .page-content -->
{%endblock%}
