{% load static %}

<!DOCTYPE html>
<html lang="en">


<!-- molla/index-3.html  22 Nov 2019 09:55:42 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'shop/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'shop/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'shop/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'shop/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'shop/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'shop/images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'shop/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'shop/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/skins/skin-demo-3.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/demos/demo-3.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/new.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/button.css' %}">

    
    <script>
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');
    </script>

</head>

<body>
    <div class="page-wrapper">
        <header class="header header-intro-clearance header-3">

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="{% url 'shop:index' %}" class="logo">
                            <img src="{% static 'shop/images/demos/demo-3/logo.png' %}" alt="Molla Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="{% url 'shop:index' %}" method="POST">
                                {% csrf_token %}
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="query" 
                                        placeholder="Search product ..." required> 
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        <div class="wishlist">
                            {%if request.user.is_authenticated%}
                                <a href="{%url 'shop:account' request.user.username %}" title="account">
                                    <div class="icon">
                                        <i class="icon-user"></i>
                                    </div>
                                    <p>Account</p>
                                </a>
                            
                            {%else%}
                                <a href="{%url 'shop:login' %}" title="Login">
                                    <div class="icon">
                                        <i class="icon-user"></i>
                                    </div>
                                    <p>Login</p>
                                </a>
                            {%endif%}

                        </div><!-- End .dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="{%url 'shop:cart'%}" class="dropdown-toggle" >
                                <div class="icon ">
                                    <i class="icon-shopping-cart    "></i>
                                    <span class="cart-count">{{count}}</span>
                                </div>
                                <p>Cart</p>
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <div class="dropdown category-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" data-display="static"
                                title="Browse Categories">
                                Browse Categories <i class="icon-angle-down"></i>
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        {% for category in categories%}
                                            <li><a href= "{% url 'shop:categories' category.id  %}">{{category.title}} </a></li>  
                                        {% endfor %}
                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li  {% if "/" == request.path%} class="megamenu-container active" {% endif%}>
                                    <a href="{% url 'shop:index'%}" class="">Home</a>
                                </li>
                              
                                <li  {% if "about" in request.path%} class="megamenu-container active" {% endif%}>
                                    <a href="{% url 'shop:about'%}"" class="">About</a>
                                </li>
                                <li  {% if "contact" in request.path%} class="megamenu-container active" {% endif%}>
                                    <a href="{% url 'shop:contact'%}"" class="">Contact</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
            {%block body%}
            {%endblock%}
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="{% static 'shop/images/logo.png' %}" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Experience the beauty of Ethiopian culture with Molla, your premier destination for authentic Ethiopian cultural clothing. </p>

	            				<div class="social-icons">
	            					<a  class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a  class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a  class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a  class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a  class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="{%url 'shop:about'%}">About Molla</a></li>
	            					<li>How to shop on Molla</li>
	            					<li>FAQ</li>
	            					<li><a href="{%url 'shop:contact'%}">Contact us</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li> Payment Methods </li>
	            					<li> Terms and conditions </li>
	            					<li> Privacy Policy </li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="{%url 'shop:login'%}">Sign In</a></li>
	            					<li><a href="{%url 'shop:cart'%}">View Cart</a></li>
	            					<li>Help</li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="{% static 'shop/images/payments.png' %}" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="{% url 'shop:index' %}" method="POST" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="query" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li  {% if "/" == request.path%} class="megamenu-container active" {% endif%}>
                        <a href="{% url 'shop:index'%}" class="">Home</a>
                    </li>
                  
                    <li  {% if "about" in request.path%} class="megamenu-container active" {% endif%}>
                        <a href="{% url 'shop:about'%}"" class="">About</a>
                    </li>
                    <li  {% if "contact" in request.path%} class="megamenu-container active" {% endif%}>
                        <a href="{% url 'shop:contact'%}"" class="">Contact</a>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

   

    <!-- Plugins JS File -->
    <script src="{% static 'shop/js/jquery.min.js' %}"></script>
    <script src="{% static 'shop/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'shop/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'shop/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'shop/js/superfish.min.js' %}"></script>
    <script src="{% static 'shop/js/owl.carousel.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'shop/js/main.js' %}"></script>
    <script src="{% static 'shop/js/cart.js' %}"></script>
    <script src="{% static 'shop/js/cart2.js' %}"></script>


</body>


<!-- molla/shop.html  22 Nov 2019 10:04:03 GMT -->
</html>